.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}


/* CHECKOUT PRODUCT SECTION*/
.checkoutProduct {
  display: flex;
  align-items: center;
  border-bottom: .5px solid lightgray;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  margin-top: 10px;
  padding: 3px;
  cursor: pointer;
}

/* SUBTOTAL SECTION */